#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#lastName {
  float: left;
}

.flex-child {
  margin: auto;
  margin-bottom: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-75 {
  width: 75%;
}

.example-25 {
  width: 25%;
}

.example-10 {
  width: 10%;
}