<div class="container">
  <h1>Enter a New User</h1>
  <form class="example-form">

    <mat-form-field class="example-full-width">
      <input matInput id="first-name" [(ngModel)]="firstName" name="firstName" placeholder="First Name" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput id="last-name" [(ngModel)]="lastName" name="lastName" placeholder="Last Name" />
    </mat-form-field>

    <h6>Please enter your skills:</h6>

    <div *ngFor="let s of skills; let i = index; trackBy: customTrackBy">
      <mat-form-field matInput  style="width: 63%">
        <input name="skill-{{i}}" id="input-{{i}}" [(ngModel)]="skills[i]" matInput placeholder="Skill" name="skill">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="removeSkill(i)">-</button>
      <button mat-raised-button color="primary" (click)="addNewSkill()">+</button>
    </div>
    <button mat-raised-button color="primary" class="flex-child"  (click)="addNewUser()" id="add-user">Submit</button>
  </form>
</div>
