<div class="container">
  <h1>Enter a New User</h1>
  <form class="example-form">

    <mat-form-field class="example-full-width">
      <input matInput id="first-name" [(ngModel)]="firstName" name="firstName" placeholder="First Name" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput id="last-name" [(ngModel)]="lastName" name="lastName" placeholder="Last Name" />
    </mat-form-field>

    <h6>Please enter your skills:</h6>
    <mat-form-field matInput class="example-75" *ngFor="let s of skills; let i = index; trackBy: customTrackBy">
      <input matInput placeholder="Skill" [(ngModel)]="skills[i]" name="skill">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addNewSkill()">+</button>

    <button mat-raised-button color="primary" class="flex-child"  (click)="addNewUser()" id="add-user">Submit</button>
  </form>
</div>
